@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    scrollbar-color: #1d1c1c #0c0b0b;
    scrollbar-width: thin;
}

body {
    background-image: url("/images/baphomet-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fdfcf3;
    text-align: Center;
    padding: 0;
    overflow-x: hidden;
    animation: fadeIn 2s ease-in-out;
}

header {
    background-color: #0c0b0b;
    height: 85px;
    width: 100%;
    color: #fdfcf3;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 4px;
    background-color: #5c5c5c;
    margin: 4px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 8px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

#menu {
    background-color: #1d1c1c;
    border: 2px solid #7a7979;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    padding: 3vh;
    font-size: 2vh;
    transition: max-height 0.3s ease;
    left: 2rem;
    top: 5rem;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fdfcf3;
}

#menu-btn {
    padding: 5px 10px 5px 10px;
    background-color: #1d1c1c;
    color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: fixed;
    top: 1.35rem;
    left: 3rem;
    z-index: 1;
}


::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    background: #1d1c1c;
}

::-webkit-scrollbar-track {
    scroll-behavior: smooth;
    background: #1d1c1c;
}

::-webkit-scrollbar-thumb {
    scroll-behavior: smooth;
    background-color: #0c0b0b;
}

::-webkit-scrollbar-thumb:hover {
    scroll-behavior: smooth;
    background-color: #5c5c5c;
}