
main {
    margin: 83px auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.dark {
    background-color: #1d1c1c;
    color: #fdfcf3;
    font-size: 1.25rem;
}

.dark p{
    position: relative;
    margin: 0 5vh 5vh 5vh;
}

.red{
    color: #ff0000;
}

.green{
    color: #00ff00;
}

section {
    margin: 5% 10% 5% 10%;;  
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0; /* Initially hide the container */
    transform: translateY(20px); /* Move the container down */
    transition: opacity 1s, transform 1s;
}

.animation-container.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
