  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background-image: url("/images/baphomet-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fdfcf3;
    text-align: Center;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin: 83px auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #0c0b0b;
    height: 83px;
    width: 100%;
    color: #fdfcf3;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.dark {
    background-color: #1d1c1c;
    color: #fdfcf3;
}

section {
    margin: 0 10% 50px 10%;;  
}

.menu-btn {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 50px;
    height: 50px;
    margin: 15px;
    border-radius: 50%;
    background-color: #0c0b0b;
    color: #fdfcf3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}